{% extends "index.html" %}

{% block content %}
<body>
    <div class="about-grid">
        <section class="about-card">
            <h1>My Family</h1>
            <img src="/static/images/family_pic.jpg" alt="Family Picture" style="width:504px;height:378px;">
            <p>This is a picture of my Family and I as I was being dropped off to start my collegiate career!</p>
        </section>
        <section class="about-card">
            <h1>My Background</h1>
            <p>
                I am currently a freshman at Concordia University Nebraska. I am Studing Computer Science and playing Football! I am from a small town in Nebraska called Benkelman, 
                this is a town of about 7-800 people on a good day. I have 1 sister she is the one in the tan hoodie seen on the left. I am also a boyfriend of 3 years to my loving girlfriend Kate! 
                She is standing next to me wearing the white crewneck. My parents on on the outside of the group. My dad is the CTO of our local Telecom Company, BWTelecom, and my mom is a Pharmacy Tech
                here in town.
            </p>
        </section>
        <section class="about-card">
            <h1>My Hobbies</h1>
            <p>
                I enjoy playing video games, watching movies, and spending time with my family. I also enjoy coding and learning new things. I play many different games... 
                The ods are if you ask me about it I have played it. However my main games right now are Elden Ring and Fortnite. My favortite show of all time has to be The Office!
                I have watched it over 10 times and I still laugh at the same jokes!
            </p>  
        </section>
        <section class="about-card">
            <h1>Skills</h1>
            <p>Here are some of the skills I have learned so far in my Computer Science career:</p>
            <ul>
                <li>Python</li>
                <li>Frontend Development</li>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
                <li>Backend Development</li>
                <ul>
                    <li>Flask</li>
                </ul>
            </ul>
        </section>
        <section class="about-card">
            <h1>My Goals</h1>
            <p>My goals are to graduate from Concordia University Nebraska with a degree in Computer Science. I would like to work for a company that is willing to help me grow and learn new things. 
                I would like to work in a team environment and be able to help others learn as well. I would like to be able to provide for my family and give them the life they deserve. 
                I would like to be able to travel and see the world with my family and friends. I would like to be able to give back to my community and help those in need. 
                I would like to be able to retire and enjoy the rest of my life with my family and friends.
            </p>
        </section>
    </div>

</body>

{% endblock %}