{% extends "base.html" %}

{% block title %}Home - Brodie Rogers{% endblock %}

{% block content %}
    <body>
        <section>
            <h2>Welcome to my Portfolio</h2>
            <p>Here you will find a list of all of my Projects and Services. You may also find various ways to contact me!! As a bonus you will be able to messaround with some of my projects!</p>
        </section>
        <section>
            <h2>This Site</h2>
            <p>This was made using Flask for the Backend and basic Frontend HTML, CSS, and JavaScript.</p>
            <p>I coded this site on Microsoft Visual Studios, I had some help from Github Copilot it was only used for saving some time on tedious tasks.</p>
        </section>
    </body>
{% endblock %}